monitorable-application/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
nohup.out

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr
monitorable-application/.idea/*
monitorable-application/*.iws
monitorable-application/*.iml
monitorable-application/*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store